<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS Files -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <title>Title</title>
</head>
<body>
<!-- About 3 - Bootstrap Brain Component -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)"><img src="Untitledrm.png" width="65" height="65"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">หน้าหลัก</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/newplant">ลงทะเบียนพันธุ์ไม้</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.dnp.go.th/botany/PDF/publications/saranukrom.pdf">ดาวห์โหลดหนังสือ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutme">เกี่ยวกับเรา</a>
                </li>
            </ul>
            <form action="/" method="get" class="d-flex">
                <input class="form-control me-2" type="text" name="keyword" placeholder="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<section class="py-3 py-md-5">
    <div class="container mb-4 mb-md-5">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-xxl-8">
                <img class="img-fluid rounded shadow" loading="lazy" src="./assets/img/about-img-1.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="container overflow-hidden">
        <div class="row gy-2 gy-md-0 justify-content-xxl-center">
            <div class="col-12 order-md-1 col-md-8 col-xxl-6">
                <div class="text-center text-md-start">
                    <h2 class="display-3 fw-bold lh-1">กลุ่งงานพฤษศาสตร์และสิ่งแวดล้อม</h2>
                    <p class="text-secondary fs-4 mb-2">Thailand Green World</p>
                    <hr class="w-25 mx-auto ms-md-0 mb-4 text-secondary">
                    <p>เมื่อพูดถึงคำว่า "สิ่งแวดล้อม" หรือ "พฤษศาสตร์" บางครั้งคนอาจจะนึกถึงเพียงแค่ภาพที่เชื่อมโยงกับธรรมชาติเท่านั้น อย่างไรก็ตาม การเชื่อมโยงระหว่างกลุ่มงานพฤษศาสตร์และสิ่งแวดล้อมกับชีวิตของเราก็มีความสำคัญอย่างมากในวิถีชีวิตปัจจุบัน</p>
                    <p>เราจะสำรวจถึงความสำคัญของการใช้วิทยาศาสตร์และเทคโนโลยีพฤษศาสตร์ในการแก้ไขปัญหาสิ่งแวดล้อมที่เราเผชิญอยู่ในปัจจุบัน โดยเน้นไปที่ผลกระทบที่สามารถสร้างประโยชน์ต่อชีวิตของเราและโลกใบนี้</p>
                </div>
            </div>
            <div class="col-12 order-md-0 col-md-4 col-xxl-4">
                <div class="text-center text-md-start me-md-3 me-xl-5">
                    <p class="mb-4">
                        <span class="d-block display-6 lh-1">12+</span>
                        <span class="fs-4 text-secondary">years of experience</span>
                    </p>
                    <div class="d-grid">
                        <button class="btn btn-primary btn-lg" type="button">บริจากเพื่อสนับสนุนเรา</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>